version: '3'

services:
  backend:
    image: node:14
    working_dir: /usr/src/app
    volumes:
      - .:/usr/src/app
    ports:
      - '3000:3000'
    environment:
      - DATABASE_URL=postgres://user:password@db:5432/souqmatch
      - REDIS_URL=redis://cache:6379
    command: 'npm start'

  db:
    image: postgres:13
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=souqmatch
    ports:
      - '5432:5432'

  cache:
    image: redis:latest
    ports:
      - '6379:6379'

volumes:
  db_data:
    driver: local
